<div class="select">
    <ng-select [items]="dropdownList"
        bindLabel="name"
        [closeOnSelect]="false"
        [multiple]="true"
        [virtualScroll]="true"
        [placeholder]="text"
        [(ngModel)]="selectedItems"
        class="multi-select"
        (change)="onItemSelect()"
        appendTo="body">
        <ng-template class="custom-value" ng-label-tmp let-item="item">
            <span *ngIf="isSave && selectedItems.length" class="count-selected">{{count}}</span>
        </ng-template>
        <ng-template ng-option-tmp let-item="item" let-item$="item$" let-index="index">
            <input class="drop-input" id="item-{{index}}" type="checkbox" [ngModel]="item$.selected"/>&nbsp;
            <span>{{item.name}}</span>
        </ng-template>
        <ng-template ng-footer-tmp class="select-button">
            <button [disabled]="selectedItems==null || selectedItems.length==0 ? true : false" class="select-clear" (click)="resetForm(f)">{{buttonText}}</button>
            <button class="btn btn__small btn-dark" (click)="saveOptions()">Зберегти</button>
        </ng-template>

    </ng-select>
</div>