<div class="container">
    <div class="wrapper-form">
        <form (ngSubmit)="onSubmit(f.value)" #f="ngForm" >
            <app-generic-input
                [isRequired]="true"
                [errorMsg]="'Будь-ласка введіть ваше Ім’я'"
                [placeholder] = "'Ім’я*'"
                [id] = "'name'"
                ngModel name="name">
            </app-generic-input>
            <app-generic-input
                [isRequired]="true"
                [errorMsg]="'Будь-ласка введіть ваш Email'"
                [placeholder] = "'Ел. адреса*'"
                [id] = "'email'"
                [pattern]="'[A-Za-z0-9._%-+]+@[A-Za-z0-9._%-]+\\.[a-z]{2,20}'"
                ngModel name="email">
            </app-generic-input>
            <app-generic-input
                [isRequired]="true"
                [errorMsg]="'Будь-ласка введіть ваш пароль'"
                [placeholder] = "'Пароль'"
                [id] = "'password'"
                [type] = "'password'"
                ngModel name="password">
            </app-generic-input>
            <app-generic-input
                [isRequired]="true"
                [errorMsg]="'Будь-ласка введіть ваш пароль ще раз'"
                [placeholder] = "'Повторіть пароль'"
                [id] = "'repeatPassword'"
                [type] = "'password'"
                ngModel name="repeatPassword">
            </app-generic-input>
            <div *ngIf="isError" class="is-invalid is-auth">
                <p>{{message}}</p>
            </div>
            <button [disabled]="!f.valid" type="submit" class="btn btn-blue btn-big">Реєстрація</button>
            <a [routerLink]="['/sign-in']" class="btn btn-blue btn-big mt-10">
                Увійти
            </a>
        </form>
    </div>
</div>
