<app-header></app-header>
<app-loader *ngIf="isLoader" [class]="'loader-animation'" ></app-loader>
<main *ngIf="!isLoader" class="main">
    <div class="container">
        <div class="profile d-flex mt-28">
            <app-account-card
                [isButton]="true"
                [link]="'/edit'" [linkName]="'Редагувати профіль'" [countAppeals]="countAppeals" [user]="user ? user : deputy"></app-account-card
                >
            <div class="w-100">
                <div *ngIf="user.role=='deputy' && deputy.description" class="deputy-info__wrapper card-shadow">
                    <h2 class="deputy-info__title font-weight-600">
                        Загальнi вiдомостi
                    </h2>
                    <p class="deputy-info__description tx-medium tx-color-3" [class.deputy-info__description--active]="isMoreText" >
                        {{deputy.description}}
                    </p>
                    <p (click)="onRead()" class="auth-btn-link mt-12">{{isMoreText ? 'Меньше' : 'Більше'}}</p>
                </div>
                <infinite-scroll (scrolled)="onScroll()">
                    <div class="w-100">
                        <app-tab (selectType)="onFilter($event)" [appeals]="appeals"></app-tab>
                    </div>
                    <app-loader *ngIf="isLoaderAppeal" [class]="'mb-30 loader-medium'" ></app-loader>
                </infinite-scroll>
            </div>
        </div>
    </div>
</main>