@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import 'variables';

*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $gray-1;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: $black;
}

a {
    display: inline-block;
    color: $black;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $black;
    }
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.justify-content {
    &-between {
        justify-content: space-between;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
}

p {
    margin: 0;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: $gray-17;
    font-weight: 600;
    line-height: 1.43;
    border: none;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__small {
        padding: 6px 11px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.01em;
    }

    &-dark {
        border: 1px solid $gray-7;
        background-color: $gray-7;
        color: $white;

        &:hover {
            background-color: $white;
            border: 1px solid $gray-7;
            color: $gray-7;
        }
    }

    &-blue {
        border: 1px solid $blue;
        color: $blue;

        &:hover {
            background-color: $blue;
        }
    }

    &-red {
        border: 1px solid $red;
        color: $red;

        &:hover {
            background-color: $red;
        }
    }

    &-green {
        border: 1px solid $green;
        background-color: $green;
        color: $white;

        &:hover {
            background-color: $white;
            border: 1px solid $green;
            color: $green;
        }
    }

    &-big {
        width: 100%;
    }
}

.card-shadow {
    background: $white;
    border-radius: 8px;
}

.wrapper {
    padding: 20px;
}

.form-control {
    width: 100%;
    margin-top: 5px;
    padding: 7px 10px;
    border-radius: 4px;
    border: 1px solid $gray-10;
}

.form-group {
    padding:10px 0;

    &:last-of-type {
        padding: 0 0 10px;
    }
}

$values: (4, 5, 8, 10, 18, 20, 30, 40);

@each $value in $values {
    .mt {
        &-#{$value} {
            margin-top: #{$value}px;
        }
    }

    .mb {
        &-#{$value} {
            margin-bottom: #{$value}px;
        }
    }
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.is-invalid {
    color: $red;
}

.wrapper-form {
    background-color: $white;
    margin-top: 50px;
    padding: 20px;
    max-width: 350px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid $gray-10;
    border-radius: 4px;
}

.nav-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .nav-item:last-of-type {
        margin-left: 20px;
    }

    .nav-link.active {
        text-decoration: underline;
    }
}

.tab-content {
    margin-top: 50px;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

ngb-datepicker.dropdown-menu {
    left: auto !important;
    right: 0;
    background-color: azure;
}

.cuppa-dropdown .selected-list .c-btn {
    background-color: $white;
    border-radius: 30px;
    padding: 8px 48px 8px 20px;

    &:focus {
        border: 1px solid $gray-11;
    }
}

.pure-checkbox input[type=checkbox]+label:before {
    border: 1px solid $gray-13;
    border-radius: 4px !important;
    width: 18px !important;
    height: 18px !important;
}

.dropdown-list {
    .list-area {
        border: none;
        width: 243px;
        background-color: $white;
        border-radius: 16px 18px 0px 0px;
        padding: 10px 0 12px;
    }

}

.dropdown-list ul li {
    padding: 10px 16px !important;
}

.pure-checkbox input[type=checkbox]+label {
    padding-left: 26px !important;
    font-weight: 500 !important;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.01em;
    color: $gray-7;
}

.selected-list, .dropdown-list, .cuppa-dropdown, .c-btn {
    &:focus {
        outline: none !important;
    }
}

.selected-item.pure-checkbox input[type=checkbox]+label:before {
    background-color: $gray-7 !important;
}

.pure-checkbox input[type=checkbox]+label:after {
    border-color: $white !important;
    width: 12px !important;
    height: 6px !important;
}

.countplaceholder {
    display: none;
}

.c-remove.clear-all {
    display: none;
}

.selected-list .c-angle-down, .selected-list .c-angle-up {
    right: 20px !important;
}

.selected-list .c-angle-down svg, .selected-list .c-angle-up svg {
    fill: $gray-7 !important;
}

.multi-select {
    position: relative;
}

.selected-list .c-list .c-token .c-remove {
    display: none;
}

.cuppa-dropdown .selected-list .c-list .c-token {
    margin: 0;
    padding: 0;
}

.arrow-down, .arrow-up {
    display: none;
}

.badge-label, .c-btn:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.01em;
}

.selected-list .c-angle-down, .selected-list .c-angle-up {
    top: 43% !important;
}

.list-area {
    &:after {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 10px;
        height: calc(100% + 58px);
        width: 243px;
        border-radius: 16px 18px 0px 0px;
        box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08), 
        0px 16px 24px rgba(50, 50, 71, 0.08);
    }
}