@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600&display=swap');
@import 'variables';

*,
*::before,
*:after {
    box-sizing: border-box;
}

body {
    background-color: $gray-1;
    overflow-x: hidden;
    font-size: 14px;
    line-height: 1;
    font-family: 'Inter', sans-serif;
    color: $black-main;
}

a {
    display: inline-block;
    color: $black-main;
    text-decoration: none;
    &:hover,
    &:focus {
        color: $black-main;
    }
}

.list-reset {
    list-style: none;
    padding: 0;
    margin: 0;
}

.d-flex {
    display: flex;
}

.d-none {
    display: none;
}

.d-block {
    display: block;
}

.justify-content {
    &-between {
        justify-content: space-between;
    }

    &-center {
        justify-content: center;
    }

    &-end {
        justify-content: flex-end;
    }
}

.align-items {
    &-center {
        align-items: center;
    }
}

p {
    margin: 0;
}

.container {
    max-width: 970px;
    padding: 0 15px;
    margin-left: auto;
    margin-right: auto;

    &__small {
        max-width: 650px;
    }

    &__extra-small {
        max-width: 490px;
    }
}

.btn {
    padding: 12px 32px;
    border-radius: 8px;
    background-color: $gray-17;
    font-weight: 600;
    line-height: 1.43;
    border: none;
    text-align: center;
    transition: all 0.3s;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &__small {
        padding: 6px 11px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.67;
        letter-spacing: 0.01em;
    }

    &-dark {
        border: 1px solid $gray-7;
        background-color: $gray-7;
        color: $white;

        &:hover {
            background-color: $white;
            border: 1px solid $gray-7;
            color: $gray-7;
        }
    }

    &-blue {
        border: 1px solid $blue;
        background-color: $blue;
        color: $white;
        padding: 9px 32px;

        &:hover {
            background-color: $white;
            border: 1px solid $blue;
            color: $blue;

            path {
                fill: $blue;
            }
        }
    }

    &-red {
        border: 1px solid $red;
        background-color: $red;
        color: $white;
        padding: 11px 32px;

        &:hover {
            background-color: $white;
            border: 1px solid $red;
            color: $red;

            path {
                fill: $red;
            }
        }
    }

    &-green {
        border: 1px solid $green;
        background-color: $green;
        color: $white;

        &:hover {
            background-color: $white;
            border: 1px solid $green;
            color: $green;
        }
    }

    &-big {
        width: 100%;
    }
}

.tx-center {
    text-align: center;
}

.card-shadow {
    background: $white;
    border-radius: 8px;
}

.wrapper {
    padding: 20px;
}

.input {
    background-color: $white;
    width: 100%;
    padding: 13px 16px;
    border-radius: 4px;
    border: 1px solid $gray-19;
    line-height: 1.57;
    color: $black-1;

    &::placeholder {
        color: $gray-20;
    }

    &:focus {
        outline: none;
    }
}

$values: (4, 6, 8, 10, 14, 12, 16, 18, 20, 24, 28, 30, 32, 36, 40);

@each $value in $values {
    .mt {
        &-#{$value} {
            margin-top: #{$value}px;
        }
    }

    .mb {
        &-#{$value} {
            margin-bottom: #{$value}px;
        }
    }
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.is-invalid {
    color: $red;
}

.wrapper-form {
    padding: 35px 70px 45px;
    margin-top: 28px;
}

.auth-title {
    font-weight: 600;
    font-size: 20px;
    line-height: 1.39;
    letter-spacing: 0.01em;
    color: $black-1;
}

.auth-or {
    margin: 13px 0 3px;
}

path {
    transition: all 0.3s;
}

.social-btn {
    vertical-align: middle;

    &--google {
        margin-left: 10px;
    }

    &--facebook {
        margin-left: 16px;
    }
}

.auth-btn-link {
    font-size: 13px;
    line-height: 16px;
    text-decoration-line: underline;
    color: $blue-2;
    cursor: pointer;
    transition: all 0.3s;
}

.nav-tabs {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;

    .nav-item:last-of-type {
        margin-left: 20px;
    }

    .nav-link.active {
        text-decoration: underline;
    }
}

.tab-content {
    margin-top: 50px;
}

.modal-body {
    text-align: center;
}

.modal-footer {
    justify-content: center;
}

ngb-datepicker.dropdown-menu {
    left: auto !important;
    right: 0;
    background-color: azure;
}

.cuppa-dropdown .selected-list .c-btn {
    background-color: $white;
    border-radius: 30px;
    padding: 8px 48px 8px 20px;

    &:focus {
        border: 1px solid $gray-11;
    }
}

.pure-checkbox input[type=checkbox]+label:before {
    border: 1px solid $gray-13;
    border-radius: 4px !important;
    width: 18px !important;
    height: 18px !important;
}

.dropdown-list {
    .list-area {
        border: none;
        width: 243px;
        background-color: $white;
        border-radius: 16px 18px 0px 0px;
        padding: 10px 0 12px;
    }

}

.dropdown-list ul li {
    padding: 10px 16px !important;
}

.pure-checkbox input[type=checkbox]+label {
    padding-left: 26px !important;
    font-weight: 500 !important;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.01em;
    color: $gray-7;
}

.selected-list, .dropdown-list, .cuppa-dropdown, .c-btn {
    &:focus {
        outline: none !important;
    }
}

.selected-item.pure-checkbox input[type=checkbox]+label:before {
    background-color: $gray-7 !important;
}

.pure-checkbox input[type=checkbox]+label:after {
    border-color: $white !important;
    width: 12px !important;
    height: 6px !important;
}

.countplaceholder {
    display: none;
}

.c-remove.clear-all {
    display: none;
}

.selected-list .c-angle-down, .selected-list .c-angle-up {
    right: 20px !important;
}

.selected-list .c-angle-down svg, .selected-list .c-angle-up svg {
    fill: $gray-7 !important;
}

.multi-select {
    position: relative;
}

.selected-list .c-list .c-token .c-remove {
    display: none;
}

.cuppa-dropdown .selected-list .c-list .c-token {
    margin: 0;
    padding: 0;
}

.arrow-down, .arrow-up {
    display: none;
}

.badge-label, .c-btn:first-child {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.43;
    text-align: center;
    letter-spacing: 0.01em;
}

.selected-list .c-angle-down, .selected-list .c-angle-up {
    top: 43% !important;
}

.list-area {
    &:after {
        content: '';
        position: absolute;
        pointer-events: none;
        top: 10px;
        height: calc(100% + 58px);
        width: 243px;
        border-radius: 16px 18px 0px 0px;
        box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08), 
        0px 16px 24px rgba(50, 50, 71, 0.08);
    }
}

.title {
    font-size: 16px;
    line-height: 1.28;
    letter-spacing: 0.01em;
    color: $gray-15;
}

.appeal-name {
    font-weight: 500;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    color: $gray-9;
}

.appeal-count {
    padding-top: 3px;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: 0.01em;
    text-transform: uppercase;
}

.account-rating {
    font-weight: 500;
    padding-left: 4px;
}

.form-group {
    margin-bottom: 24px;
}

.ng-dropdown-panel .scroll-host {
    background: $white;
    box-shadow: 0px 12px 12px rgba(50, 50, 71, 0.08), 0px 16px 44px rgba(50, 50, 71, 0.08);
    border-radius: 16px 18px 18px 18px;
    padding: 12px 16px;
}

.ng-dropdown-panel .ng-dropdown-panel-items .ng-option {
    padding: 8px 0;
    font-weight: 500;
    line-height: 1.43;
    letter-spacing: 0.01em;
}

.ng-option-selected {
    font-weight: 600 !important;
}

.ng-select .ng-clear-wrapper {
    display: none;
}

.ng-arrow-wrapper {
    position: relative;

    &:after, &:before {
        position: absolute;
        content: "";
        bottom: 5px;
        height: 11px;
        width: 1.5px;
        background-color: $black;
        transition: all 0.3s;
    }

    &:after {
        right: 8px;
        transform: rotate(45deg);
    }

    &:before {
        right: 15px;
        transform: rotate(-45deg);
    }
}

.ng-select.ng-select-opened>.ng-select-container .ng-arrow-wrapper {
    &:after {
        transform: rotate(-45deg);
    }

    &:before {
        right: 15px;
        transform: rotate(-135deg);
    }
}

.ng-select .ng-has-value .ng-placeholder {
    display: none;
}

@media only screen and (max-width: 560px) {
    .wrapper-form {
        padding: 24px 24px 36px;
    }

    .btn {
        padding: 12px 20px;

        &-blue {
            padding: 9px 20px;
        }

        &-red {
            padding: 11px 20px;
        }
    }
}