// White
$white: #FFFFFF;

// Gray
$gray-3: #6F6F6F;
$gray-4: #505050;
$gray-10: #B9C1B9;

//Black 
$black: #00194C;
$black-1: #00194C;

// Blue
$blue: #004AE6;

// Red
$red: #DC143C;

// Green
$green: #15BC21;
