// White
$white: #FFFFFF;

// Gray
$gray-1: #E5E5E5;
$gray-2: #E0E0E0;
$gray-3: #6F6F6F;
$gray-4: #505050;
$gray-5: #949BA9;
$gray-6: #909DB5;
$gray-7: #404957;
$gray-8: #566580;
$gray-9: #8C99AB;
$gray-10: #B9C1B9;
$gray-11: #A6B1C4;
$gray-12: #9AA4B1;
$gray-13: #D3D8E1;


//Black 
$black: #00194C;

// Blue
$blue: #1645C2;
$blue-1: #E8F2FE;

// Red
$red: #DC143C;

// Green
$green: #1FD758;
$green-1: #16B858;

//Orange
$orange: #D09B11;
$orange-1: #FEF7D0;
