<app-loader *ngIf="isLoader" [class]="'loader-animation'" ></app-loader>
<app-header *ngIf="!isLoader"></app-header>
<main *ngIf="!isLoader" class="main">
    <div class="container">
        <div class="deputy">
            <app-account-card [link]="'/create-appeal'" [linkName]="'Створити запит'" [countAppeals]="countAppeals" [user]="deputy"></app-account-card>
            <div class="deputy-info">
                <div *ngIf="deputy.description" class="deputy-info__wrapper card-shadow">
                    <h2 class="deputy-info__title font-weight-600">
                        Загальнi вiдомостi
                    </h2>
                    <p class="deputy-info__description tx-medium tx-color-3">
                        {{deputy.description}}
                    </p>
                </div>
                <app-tab [appeals]="appeals"></app-tab>
            </div>
        </div>
    </div>
</main>
