<header class="header">
    <div class="container container__big">
        <div class="d-flex justify-content-between align-items-center">
            <a [routerLink]="['/']" class="header__logo">
                <img src="assets/images/logo.svg" alt="слуга полтави" />
            </a>
            <div class="container w-100 header__nav">
                <div class="header__mobile-nav d-flex justify-content-between align-items-center w-100">
                    <nav class="d-flex align-items-center justify-content-between w-100">
                        <ul class="header__menu list-reset d-flex">
                            <li *ngFor="let link of links" class="header__item">
                                <a routerLink={{link.path}} class="header__link" [class.header__link--active]='isCurrentRoute(link.path)'>
                                    {{link.name}}
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <app-search-header></app-search-header>
                    <!-- <div class="header__search" (click)="handleSearch()">
                        <svg
                            *ngIf="!isSearch"
                            width="28"
                            height="28"
                            viewBox="0 0 28 28"
                            fill="none"
                            xmlns="http://www.w3.org/2000/svg"
                        >
                            <path
                                fillRule="evenodd"
                                clipRule="evenodd"
                                d="M17.7177 16.8835H18.6393L23.586 21.8535C24.0643 22.3318 24.0643 23.1135 23.586 23.5918C23.1077 24.0702 22.326 24.0702 21.8477 23.5918L16.8893 18.6335V17.7118L16.5743 17.3852C14.941 18.7852 12.7127 19.5085 10.3443 19.1118C7.101 18.5635 4.511 15.8568 4.11433 12.5902C3.50766 7.65517 7.661 3.50184 12.596 4.1085C15.8627 4.50517 18.5693 7.09517 19.1177 10.3385C19.5143 12.7068 18.791 14.9352 17.391 16.5685L17.7177 16.8835ZM6.38933 11.6335C6.38933 14.5385 8.73433 16.8835 11.6393 16.8835C14.5443 16.8835 16.8893 14.5385 16.8893 11.6335C16.8893 8.7285 14.5443 6.3835 11.6393 6.3835C8.73433 6.3835 6.38933 8.7285 6.38933 11.6335Z"
                                fill="#B8B8B8"
                            />
                        </svg>
                    </div> -->
                    <!-- <div
                        class="header__search-form"
                        [class.header__search-form--active]="isSearch"
                    >
                        <div class="header__searchbox">
                            <input
                                (keydown.enter)="onSearch()"
                                type="text"
                                [(ngModel)]="serchText"
                                class="header__search-input input"
                                placeholder="Пошук"
                            />
                            <svg
                                width="24"
                                height="24"
                                viewBox="0 0 28 28"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                                class="header__close-icon"
                                (click)="handleSearch()"
                            >
                                <path
                                    fillRule="evenodd"
                                    clipRule="evenodd"
                                    d="M15.9805 14.0003L21.9634 8.01743L23.1972 6.78364C23.3792 6.60163 23.3792 6.30587 23.1972 6.12387L21.877 4.80374C21.695 4.62174 21.3993 4.62174 21.2173 4.80374L14.0006 12.0204L6.78397 4.80316C6.60197 4.62116 6.30621 4.62116 6.1242 4.80316L4.8035 6.12329C4.62149 6.30529 4.62149 6.60105 4.8035 6.78306L12.0207 14.0003L4.8035 21.2169C4.62149 21.3989 4.62149 21.6947 4.8035 21.8767L6.12362 23.1968C6.30563 23.3788 6.60139 23.3788 6.78339 23.1968L14.0006 15.9802L19.9835 21.963L21.2173 23.1968C21.3993 23.3788 21.695 23.3788 21.877 23.1968L23.1972 21.8767C23.3792 21.6947 23.3792 21.3989 23.1972 21.2169L15.9805 14.0003Z"
                                    fill="#B8B8B8"
                                />
                            </svg>
                            <svg
                                (click)="onSearch()"
                                width="24"
                                height="24"
                                class="header__search-icon"
                                viewBox="0 0 28 28"
                                fill="none"
                                xmlns="http://www.w3.org/2000/svg"
                            >
                                <path
                                fillRule="evenodd"
                                clipRule="evenodd"
                                d="M17.7177 16.8835H18.6393L23.586 21.8535C24.0643 22.3318 24.0643 23.1135 23.586 23.5918C23.1077 24.0702 22.326 24.0702 21.8477 23.5918L16.8893 18.6335V17.7118L16.5743 17.3852C14.941 18.7852 12.7127 19.5085 10.3443 19.1118C7.101 18.5635 4.511 15.8568 4.11433 12.5902C3.50766 7.65517 7.661 3.50184 12.596 4.1085C15.8627 4.50517 18.5693 7.09517 19.1177 10.3385C19.5143 12.7068 18.791 14.9352 17.391 16.5685L17.7177 16.8835ZM6.38933 11.6335C6.38933 14.5385 8.73433 16.8835 11.6393 16.8835C14.5443 16.8835 16.8893 14.5385 16.8893 11.6335C16.8893 8.7285 14.5443 6.3835 11.6393 6.3835C8.73433 6.3835 6.38933 8.7285 6.38933 11.6335Z"
                                fill="#B8B8B8"
                                />
                            </svg>
                        </div>
                    </div> -->
                    <div class="d-flex align-items-center">
                        <a *ngIf="isCreateAppeal" [routerLink]="['/create-appeal']" class="header__btn btn btn-green header__button">Створити запит</a>
                        <div *ngIf="!isMobile" (clickOutside)="outside($event)" class="header__avatar">
                            <div *ngIf="imageUrl || shortName" (click)="onOpenDropdown()">
                                <app-avatar  [imageUrl]="imageUrl" [name]="shortName" [class]="'avatar__medium header-avatar'"></app-avatar>
                            </div>
                            <ul *ngIf="isDropdown" class="list-reset header__dropdown">
                                <li *ngFor="let dropdownLink of dropdownLinks" class="header__dropdown-item">
                                    <p class="header__dropdown-link" (click)="onDropdown(dropdownLink.path)">
                                        {{dropdownLink.name}}
                                    </p>
                                </li>
                            </ul>
                        </div>
                        <a [routerLink]="['/sign-in']" *ngIf="!imageUrl && !shortName">
                            <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path fillRule="evenodd" clipRule="evenodd" d="M21 0C9.39919 0 0 9.39919 0 21C0 32.6008 9.39919 42 21 42C32.6008 42 42 32.6008 42 21C42 9.39919 32.6008 0 21 0ZM21 8.12903C25.1153 8.12903 28.4516 11.4653 28.4516 15.5806C28.4516 19.696 25.1153 23.0323 21 23.0323C16.8847 23.0323 13.5484 19.696 13.5484 15.5806C13.5484 11.4653 16.8847 8.12903 21 8.12903ZM21 37.2581C16.0294 37.2581 11.5754 35.0056 8.59476 31.4831C10.1867 28.4855 13.3028 26.4194 16.9355 26.4194C17.1387 26.4194 17.3419 26.4532 17.5367 26.5125C18.6375 26.8681 19.7891 27.0968 21 27.0968C22.2109 27.0968 23.371 26.8681 24.4633 26.5125C24.6581 26.4532 24.8613 26.4194 25.0645 26.4194C28.6972 26.4194 31.8133 28.4855 33.4052 31.4831C30.4246 35.0056 25.9706 37.2581 21 37.2581Z" fill="#909DB5"/>
                            </svg>
                        </a>
                    </div>
                </div>
            </div>
            <div *ngIf="isMobile" class="header__mobile">
                <div (clickOutside)="outside($event)" class="header__avatar">
                    <div *ngIf="imageUrl || shortName" (click)="onOpenDropdown()" class="header__nav-link">
                        <app-avatar [imageUrl]="imageUrl" [name]="shortName" [class]="'avatar__medium header-avatar'"></app-avatar>
                    </div>
                    <ul *ngIf="isDropdown" class="list-reset header__dropdown">
                        <li *ngFor="let dropdownLink of dropdownLinks" class="header__dropdown-item">
                            <p class="header__dropdown-link" (click)="onDropdown(dropdownLink.path)">
                                {{dropdownLink.name}}
                            </p>
                        </li>
                    </ul>
                </div>
                <a [routerLink]="['/sign-in']" *ngIf="!imageUrl && !shortName">
                    <svg width="42" height="42" viewBox="0 0 42 42" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path fillRule="evenodd" clipRule="evenodd" d="M21 0C9.39919 0 0 9.39919 0 21C0 32.6008 9.39919 42 21 42C32.6008 42 42 32.6008 42 21C42 9.39919 32.6008 0 21 0ZM21 8.12903C25.1153 8.12903 28.4516 11.4653 28.4516 15.5806C28.4516 19.696 25.1153 23.0323 21 23.0323C16.8847 23.0323 13.5484 19.696 13.5484 15.5806C13.5484 11.4653 16.8847 8.12903 21 8.12903ZM21 37.2581C16.0294 37.2581 11.5754 35.0056 8.59476 31.4831C10.1867 28.4855 13.3028 26.4194 16.9355 26.4194C17.1387 26.4194 17.3419 26.4532 17.5367 26.5125C18.6375 26.8681 19.7891 27.0968 21 27.0968C22.2109 27.0968 23.371 26.8681 24.4633 26.5125C24.6581 26.4532 24.8613 26.4194 25.0645 26.4194C28.6972 26.4194 31.8133 28.4855 33.4052 31.4831C30.4246 35.0056 25.9706 37.2581 21 37.2581Z" fill="#909DB5"/>
                    </svg>
                </a>
                <div class="header__burger" (click)="onOpenMenu()" [class.header__burger--active]='isOpen'>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
                <div *ngIf="isOpen" class="header__mobile-menu">
                    <ul class="list-reset">
                        <li *ngFor="let link of links" class="header__item">
                            <a routerLink={{link.path}} (click)="onMobileLink()" class="header__link" [class.header__link--active]='isCurrentRoute(link.path)'>
                                {{link.name}}
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <a *ngIf="isCreateAppeal" [routerLink]="['/create-appeal']" class="header__mobile-button btn btn-green btn-big">Створити запит</a>
        </div>
    </div>
</header>
