@import '../../../styles/variables';

.avatar {
    max-width: 100px;
}

.input-group {
    position: relative;

    &-append {
        position: absolute;
        right: 0;
        top: 5px;
    }
}

.calendar {
    background-image: url('../../../static/calendar-small.svg') !important;
    background-repeat: no-repeat;
    background-color: $white;
    background-size: 24px;
    background-position: center;
    width: 2.75rem;
    margin-right: 3px;
    height: 38px;
}

.upload-file {
    margin: 0 8px 0 25px;
}

.password-title {
    margin-top: 36px;
}

.select-arrow {
    position: relative;
    appearance: none;

    &::after{
        position: absolute;
        content: 'after';
        bottom: 0;
        right: 0;
        height: 10px;
        width: 1.5px;
        background-color: $black;
        transform: rotate(45deg);
    }
}

option {
    padding: 8px 16px !important;
    border: 0;
    border-bottom: 1px solid $black !important;
    color: red !important;
    appearance: none !important;
}

.textarea {
    height: 92px;
}