<form (ngSubmit)="onSubmit(f.value)" #f="ngForm">
    <h3 class="mb-16 mt-36">Пароль</h3>
    <app-generic-input
        [isRequired]="true"
        [errorMsg]="'Об`язкове поле'"
        [placeholder] = "'Старий пароль'"
        [id] = "'oldPassword'"
        [type] = "'password'"
        ngModel name="oldPassword">
    </app-generic-input>
    <app-generic-input
        [isRequired]="true"
        [errorMsg]="'Об`язкове поле'"
        [placeholder] = "'Новий пароль'"
        [id] = "'password'"
        [type] = "'password'"
        ngModel name="password">
    </app-generic-input>
    <app-generic-input
        [isRequired]="true"
        [errorMsg]="'Об`язкове поле'"
        [placeholder] = "'Повторити новий пароль'"
        [id] = "'repeatPassword'"
        [type] = "'password'"
        ngModel name="repeatPassword">
    </app-generic-input>
    <div *ngIf="isError" class="is-invalid is-auth">
        <p>{{message}}</p>
    </div>
    <!-- <button [disabled]="!f.valid" type="submit" class="btn btn-blue">Зберегти</button> -->
</form>
