<form (ngSubmit)="onSubmit(f.value)" #f="ngForm" class="mt-30">
    <app-generic-input
        [isRequired]="true"
        [errorMsg]="'Об`язкове поле'"
        [label] = "'Старий пароль'"
        [id] = "'oldPassword'"
        [type] = "'password'"
        ngModel name="oldPassword">
    </app-generic-input>
    <app-generic-input
        [isRequired]="true"
        [errorMsg]="'Об`язкове поле'"
        [label] = "'Новий пароль'"
        [id] = "'password'"
        [type] = "'password'"
        ngModel name="password">
    </app-generic-input>
    <app-generic-input
        [isRequired]="true"
        [errorMsg]="'Об`язкове поле'"
        [label] = "'Повторити новий пароль'"
        [id] = "'repeatPassword'"
        [type] = "'password'"
        ngModel name="repeatPassword">
    </app-generic-input>
    <div *ngIf="isError" class="is-invalid is-auth">
        <p>{{message}}</p>
    </div>
    <button [disabled]="!f.valid" type="submit" class="btn btn-blue">Зберегти</button>
</form>
