@import '../../styles/variables';

.avatar {
    border-radius: 50%;
    width: 46px;
    height: 46px;

    &-name {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $gray-4;
        color: $white;
    }

    &__medium {
        width: 42px;
        height: 42px;
    }

    &__big {
        width: 130px;
        height: 130px;
        font-size: 24px;
    }

    &-small {
        width: 36px;
        height: 36px;
    }
}
