<div class="card">
    <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center">
            <app-avatar [imageUrl]="appeal.deputyImageUrl" [name]="appeal.shortName" [class]="appeal.deputyImageUrl ? 'avatar__small' : 'avatar-name__small'"></app-avatar>
            <div class="card__name">
                <p class="font-weight-500 tx-medium">{{appeal.deputyName}}</p>
                <p class="font-weight-500 tx-small tx-color-1">{{appeal.party}}</p>
            </div>
        </div>
        <p>{{appeal.status}}</p>
    </div>
    <div class="mt-20">
        <p class="font-weight-500 tx-normal tx-color-2">{{appeal.title}}</p>
        <p class="tx-medium tx-color-1 mt-8">{{appeal.description}}</p>
    </div>
    <div class="d-flex justify-content-between mt-40">
        <p class="font-weight-500 tx-small tx-color-3">Автор: {{appeal.userName}}</p>
        <div>
            <p class="tx-small tx-color-1">{{appeal.date}}</p>
        </div>
    </div>
</div>