@import '../../../styles/variables';

.card {
    padding: 20px;
    margin-bottom: 20px;

    &__name {
        margin-left: 16px;
    }

    &__status {
        background: rgba(0, 82, 255, 0.2);
        border-radius: 5px;
        padding: 5px 23px 6px;
        font-size: 12px;
    }

    &__description {
        padding-bottom: 21px;
        border-bottom: 1px solid rgba($color: $gray-2, $alpha: 0.7);
    }
}