@import '../../../styles/variables';

.card {
    width: 100%;
    padding: 24px 24px 25px;
    margin-bottom: 12px;

    &__deputy {
        margin-left: 12px;
        width: auto;
    }

    &__name {
        font-size: 15px;
        font-weight: 600;
        line-height: 1.09;
        padding-bottom: 5px;
        color: $gray-7;
    }

    &__description-title {
        font-weight: 600;
        margin: 0;
        -webkit-line-clamp: 2;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__party {
        text-transform: capitalize;
        line-height: 1.37;
    }

    &__status {
        display: flex;
        align-items: center;
        justify-content: center;
        background: $blue-1;
        color: $blue;
        border-radius: 18px;
        padding: 4px 12px;
        font-size: 12px;
        line-height: 1.63;
        white-space: nowrap;
        text-transform: capitalize;
        margin-left: 10px;
        min-width: 100px;

        &--yellow {
            background-color: $orange-1;
            color: $orange;
            padding: 4px 12px;
        }

        &--green {
            background-color: rgba(31, 215, 88, 0.11);
            color: $green-1;
        }
    }

    &__content {
        font-size: 14px;
        line-height: 1.46;
        letter-spacing: 0.01em;
        color: $gray-8;
        margin-top: 13px;
        -webkit-line-clamp: 3;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        overflow: hidden;
    }

    &__rating-count {
        padding-left: 4px;
        font-weight: 500;
        font-size: 14px;
        color: $gray-7;
    }

    &__status-icon {
        margin-left: 8px;
    }

    &__description {
        padding-bottom: 19px;
    }

    &__item {
        display: flex;
        align-items: center;

        &:first-of-type {
            margin-left: 10px;
        }
    }

    &__author {
        font-weight: 500;
        line-height: 1.4;
        color: $gray-7;
        padding-left: 8px;
    }

    &__social {
        padding-left: 10px;
        font-weight: 500;
        font-size: 12px;
        line-height: 1.37;
        text-transform: capitalize;
        color: $gray-11;
        padding-left: 10px;
    }

    &__list {
        width: 50%;
    }
}



@media only screen and (max-width: 820px) {
    .card {
        &__list {
            width: 60%;
        }
    }
}


@media only screen and (max-width: 540px) {
    .card {
        &__top {
            flex-direction: column-reverse;
            align-items: flex-start;
        }
    
        &__dep {
            width: 100%;
        }
    
        &__status {
            width: max-content;
            margin-left: 0;
        }
    
        &__status {
            margin-bottom: 20px;
        }

        &__bottom {
            display: block;
        }

        &__item {
            &:first-of-type {
                margin-left: 0;
            }
        }

        &__list {
            width: 100%;
            margin-top: 20px;
        }

        &__deputy {
            width: auto;
        }
    }
}
