<ngb-tabset #t="ngbTabset" >
    <ngb-tab id="tab-selectbyid1" title="Особиста iнформацiя">
        <ng-template ngbTabContent>
        <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
        master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
        dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
        iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2" title="Налаштування" class="sdfsdf">
        <ng-template ngbTabContent>
            <div class="wrap-settings">
                <h2 class="settings-title">Безпека</h2>
                <app-change-email></app-change-email>
                <app-change-password></app-change-password>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>