<ngb-tabset #t="ngbTabset" >
    <ngb-tab id="tab-selectbyid1" title="Особиста iнформацiя">
        <ng-template ngbTabContent>
            <div class="wrap-settings">
                <app-change-info></app-change-info>
            </div>
        </ng-template>
    </ngb-tab>
    <ngb-tab id="tab-selectbyid2" title="Налаштування" class="sdfsdf">
        <ng-template ngbTabContent>
            <div class="wrap-settings">
                <h2 class="settings-title">Безпека</h2>
                <app-change-email></app-change-email>
                <app-change-password></app-change-password>
            </div>
        </ng-template>
    </ngb-tab>
</ngb-tabset>